body{
	background-image: url("Pokemon_Psyduck_anime_simple_background_Hitec_1440x900.jpg");
}
h1{
	text-align: center;
	font-family: 'ZCOOL KuaiLe', cursive;
	word-spacing: 10px;
	line-height: 100px;
	font-size: 50px;


}