body{
	background-color: #FFD53F ;
	background-image: url("Pokemon_Psyduck_anime_simple_background_Hitec_1440x900.jpg");
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-size: cover;

}

h1{
	color: #3E2B02;
	text-align: center;
	font-family: 'ZCOOL KuaiLe', cursive;
	word-spacing: 10px;
	line-height: 100px;
	font-size: 50px;
}

.Play{

	font-family: 'ZCOOL KuaiLe', cursive;
	box-sizing: border-box;
	padding-left: 30px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.Play > p {
  /*
    1/3  - 3 columns per row
    10px - spacing between columns 
  */
  box-sizing: border-box;
  margin-bottom: 10px;
  width: calc(1/3*100% - (1 - 1/3)*10px);
}

#Fortune, #Speak{
	font-size : 2em;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	vertical-align: middle;
	color: #3E2B02;
	box-sizing: border-box;
	display: flex;
	padding: 15px;
	height: 150px;
	width: 40%;
	background-color: white;
	border-radius: 10px;
	/*
	border-color: #3E2B02 ;
	border : 10px ;
	*/
}

#Fortune:hover , #Speak:hover{
	height: 180px;
	width: 45% ;
}

#time{

	width: 100% ;
	border-width: 90% ;
}